[Desktop Entry]
Name=Neovim
GenericName=Text Editor
Comment=Hyperextensible Vim-based text editor
Exec=nvim %F
Icon=neovim
Terminal=true
Type=Application
Categories=Development;TextEditor;
Keywords=text;editor;vim;
MimeType=text/plain;text/x-python;text/x-csrc;text/x-chdr;text/x-java;text/x-rust;
StartupNotify=false
