layout rust
layout py

export ANDROID_HOME="${ANDROID_HOME:-$HOME/Android/Sdk}"
export ANDROID_NDK_HOME="${ANDROID_NDK_HOME:-$ANDROID_HOME/ndk}"
export CARGO_TARGET_DIR="$PWD/target"
export ZIG_CACHE_DIR="$PWD/zig-cache"
export WAYDRI_CONFIG_DIR="$PWD/config"
